%h2
  = I18n.t('admins.greeting', name: current_admin.name)

= I18n.t('admins.intro').html_safe

%h3= I18n.t('admins.stats')
%section.stats
  %ul
    %li
      = I18n.t('admins.county_count', count: @counties.count).html_safe
      = link_to I18n.t('leos.view_all'), counties_admin_path
      
    %li
      = I18n.t('admins.user_count', count: @user_count).html_safe
      = link_to I18n.t('leos.view_all'), '#'
    %li= I18n.t('admins.login_count', count: 224).html_safe

%section.actions.my-2
  = link_to "Add County", new_county_admin_path, class: [:block]
  = link_to "Add User", new_user_admin_path, class: [:block]
