%h2= I18n.t('signatures.welcome.title')
= I18n.t('signatures.welcome.body').html_safe

%p Welcome to the demonstration system for Serif, a signature verification mobile App and service for voters who vote absentee, by mail, or from home.
%h3 About Serif
%p Serif provides a convenient way for voters to fix a critical problem that can prevent their ballot from being counted: their voter signature on file did not match the signature on the return envelope of their ballot.
%p Usually, a voter would have to visit their local election office in order to identify him or herself and provide a current signature to match-verify the envelope’s signature.
%p With the Serif mobile App (or at Serif’s web site), voters can provide the same identifying information, and use their mobile phone camera to capture an image of fresh pen-on-paper signature. The information and signature are digitally submitted to Serif’s digital repository. Serif notifies the appropriation election officials, who can access the repository to get the voter’s updated signature and, if the new signature matches, approve to the voter’s ballot to be counted.
%h3 Tour the Serif Demo
%p 
  To see Serif in action, you can try out the 3 different faces of the Serif system. Start with 
  =link_to "“Submit a New Signature”", new_signature_submission_path
  which will take to you a web page that has the same basic functions as the Serif mobile app, but is designed for a more convenient demonstration. Click on the 
  %span.fa.fa-info-circle
  icon to reveal demo explanations that would not be part of a real Serif system in operation.
%p
  Next, try 
  = link_to "“LEO Dashboard”", current_leo ? leo_path : new_leo_session_path
  which is the web interface for local election officials (LEO) who manage the signature update process. When a voter uses Serif to submit a signature update request, Serif notifies the voter’s LEO, who then logs into the LEO Dashboard to view these requests and accept or reject them. Lastly, try 
  = link_to "“Admin Dashboard”", current_admin ? admin_path : new_admin_session_path
  which is the web interface for the administrators of a Serif system, who create Serif LEO accounts so that one or more LEOs in the county or locality can access the LEO Dashboard. As before, click on the 
  %span.fa.fa-info-circle
  icon to reveal demo explanations that would not be part of a real Serif system in operation.


= link_to I18n.t("signatures.welcome.start"), new_signature_submission_path


.my-2
  = link_to I18n.t("signatures.welcome.leo_dashboard"), current_leo ? leo_path : new_leo_session_path
.my-2
  = link_to I18n.t("signatures.welcome.admin_dashboard"), current_admin ? admin_path : new_admin_session_path