%h2= I18n.t('signatures.welcome.title')
= I18n.t('signatures.welcome.body').html_safe

= link_to I18n.t("signatures.welcome.start"), new_signature_submission_path

.m-24
.my-2
  = link_to "LEO Dashboard", current_leo ? leo_path : new_leo_session_path
.my-2
  = link_to "Admin Dashboard", current_admin ? admin_path : new_admin_session_path